
<div class="main">
    <div><b>&nbsp;E-COMMERCE</b></div>
    <div (click)="gotourl('')" [class.selected]="url === '/'"><b>Home</b></div>
    <div (click)="gotourl('about-us')" [class.selected]="url === '/about-us'"><b>Aboutus</b></div>
    <div (click)="gotourl('admin-login')" [class.selected]="url === '/admin-login'"><b>AdminSignIn</b></div>
    <div (click)="gotourl('client-register')"  [class.selected]="url === '/client-register'"><b>Register</b></div>
    <div (click)="gotourl('client-login')" [class.selected]="url === '/client-login'"><b>CustomerSignIn</b></div>
    <div (click)="gotourl('contact-us')" [class.selected]="url === '/contact-us'"><b>Contactus&nbsp;</b></div>
</div>