
  <h2 align="center"><br><br>Description</h2><br><br><br>
    
      <p align="center" style="font-size: large;"><b>Preethikadevi,Harini,Subarna,Gaythri,Suriya,Sathesh & Rohini first started SPRAG-H in order to save times for shopping in 
      travelling inspite within our doorstep.<br>
      That is why we have designed an app to buy essential and needed things online with just a click.
      During our journey, we faced some challenges to build this app.<br>
      We strive to be one of the best app in this online market.
      And our technical support team works hard to provide you all best products and satisfy customers.</b></p>
      
